html {
  box-sizing: border-box;
  font-family: 'Helvetica Neue';
}
*,
*:before,
*:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: inherit;
  font: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  text-align: inherit;
  text-decoration: none;
  list-style: none;
  min-width: 0;
}

body {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
